<!DOCTYPE html>
<html>
  <head>
    <title>All Bookings</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
        <% for (var booking of bookings) { %>
            <tr>
                <td><%= booking.email %></td>
                <td><%= booking.numTickets %></td>
                <td><%= booking.team %></td>
                <td><%= booking.terms %></td>

</tr> <% } %>
     </table>

     <% for (let i = 1; i <= Math.ceil(total / perPage); i++) { %>
        <% if(i === page) { %>
          <span><%= i %></span>
        <% } else { %>
          <a href="/booking/paginate?page=<%= i %>&perPage=<%= perPage %>"><%= i %></a>
        <% } %>
      <% } %>


  </body>
</html>